body {
    background: #1F2534;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

font {
    font-family: Arial, sans-serif;
}